{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="hero">
    <div class="slider">
        <div class="overlay"></div>

        <div class="slide">
            <img src="https://source.unsplash.com/random?landscape,mountain">
        </div>
        <div class="slide">
            <img src="https://source.unsplash.com/random?landscape,cars">
        </div>
        <div class="slide">
            <img src="https://source.unsplash.com/random?landscape,night">
        </div>
        <div class="slide">
            <img src="https://source.unsplash.com/random?landscape,city">
        </div>

        <button class="btn btn-next">
            <span class="material-symbols-outlined">
            chevron_right
            </span>
        </button>
        <button class="btn btn-prev">
            <span class="material-symbols-outlined">
                chevron_left
            </span>
        </button>
    </div>
</div>

<div class="offer-bar d-flex flex-col justify-content-center align-items-center gap-3">
    <img src="{% static 'assets/film_cam.png' %}" alt="Film Cam">
    <div class="offer-content">
        <h5 class="text-white m-0 p-0">Experience the Apex Infinity for just $49.99 <span>(Unlimited access)</span></h5>
        <p class="text-white mt-2">Unleash Endless Movie Excitement Every Month!</p>
        <a href="#">Learn More<span class="material-symbols-outlined d-inline-block align-top">chevron_right</span></a>
    </div>
</div>

<div class="movies-grid-wrapper container py-3" id="movies">
    <h4 class="text-white">Apex Cinema Union Blvd. Colorado Springs</h4>
    <div class="movies-grid row">
        <div class="col-sm-3 my-1">
            <img class="w-100" src="{% static 'assets/movie_poster_1.jpg' %}" alt="Movie Poster 1">
            <p class="text-center text-white py-2 m-0">Spider Man</p>
            <div class="w-100 divider"></div>
            <p class="text-center text-white py-2 m-0"><span class="material-symbols-outlined d-inline-block align-top">favorite</span>&nbsp;Add to watch list</p>
        </div>
        <div class="col-sm-3 my-1">
            <img class="w-100" src="{% static 'assets/movie_poster_1.jpg' %}" alt="Movie Poster 1">
            <p class="text-center text-white py-2 m-0">Spider Man</p>
            <div class="w-100 divider"></div>
            <p class="text-center text-white py-2 m-0"><span class="material-symbols-outlined d-inline-block align-top">favorite</span>&nbsp;Add to watch list</p>
        </div>
        <div class="col-sm-3 my-1">
            <img class="w-100" src="{% static 'assets/movie_poster_1.jpg' %}" alt="Movie Poster 1">
            <p class="text-center text-white py-2 m-0">Spider Man</p>
            <div class="w-100 divider"></div>
            <p class="text-center text-white py-2 m-0"><span class="material-symbols-outlined d-inline-block align-top">favorite</span>&nbsp;Add to watch list</p>
        </div>
        <div class="col-sm-3 my-1">
            <img class="w-100" src="{% static 'assets/movie_poster_1.jpg' %}" alt="Movie Poster 1">
            <p class="text-center text-white py-2 m-0">Spider Man</p>
            <div class="w-100 divider"></div>
            <p class="text-center text-white py-2 m-0"><span class="material-symbols-outlined d-inline-block align-top">favorite</span>&nbsp;Add to watch list</p>
        </div>
        <div class="col-sm-3 my-1">
            <img class="w-100" src="{% static 'assets/movie_poster_1.jpg' %}" alt="Movie Poster 1">
            <p class="text-center text-white py-2 m-0">Spider Man</p>
            <div class="w-100 divider"></div>
            <p class="text-center text-white py-2 m-0"><span class="material-symbols-outlined d-inline-block align-top">favorite</span>&nbsp;Add to watch list</p>
        </div>
    </div>
</div>

{% endblock content %}